

#storeHeader {
    background-color: #4c6baf;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#storeHeader button {
    background-color: white;
    color: #4c6baf;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    height: 60px;
    width: 110px;
    padding: 7px;
    margin: 2px;
    overflow: hidden;
}

#storeHeader button:hover {
    background-color: #0d4fa1;
    color: white;
}

#storeHeader span {
    margin-left: 10px;
    cursor: pointer;
}

#storeHeader #profile {
    display: flex;
    align-items: center;
}

#storeHeader #profilePic {
    width: 33%;
    height: 66%;
    margin: 0;
    border-radius: 50%;
    margin-right: 10px;
}

#storeHeader #userNav {
    display: flex;
    justify-content: right;
    margin-right: 10px;

}

#errorModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto;
}

body.modalOpen {
    pointer-events: none;
    overflow: hidden;
}

#closeErrorModalButton {
    pointer-events: auto;
    border-radius: 15px;
    color: #ffffff;
    background-color: #4c6baf;
    height: 45px;
    margin: 20px;
    width: 130px;
    text-align: center;
}

#closeErrorModalButton:hover {
    background-color: #0d4fa1;
    transition: background-color 0.3s ease;
}

#errorMessage {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #e9ecef;
    padding: 10px;
}
